@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:regular);

body {
  background-color: #1E1C1F;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 16;
  color: #FFFFFF;
}

.plot-div {
  background-color: inherit;
  right: 50%;
  bottom: 0%;
  transform: translate(50%, -5%);
  position: absolute;
  width: 80%;
  aspect-ratio: 1.618;
  top: 100px;
}

.topnav-centered {
  overflow: hidden;
  float: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  color: rgba(255, 255, 255, 0.6);
  font-size: 48;
}

a, a:link, a:active, a:visited {
  text-decoration: none;
  opacity: 0.6;
  padding-left: 5px;
  padding-right: 5px;
}

a, a:hover {
  opacity: 1.0;
  padding-left: 5px;
  padding-right: 5px;
}
