@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:regular);

body {
  background-color: #1E1C1F;
}

.plot-div {
  background-color: inherit;
  font-family: 'Roboto Slab', sans-serif;
  color: #FFFFFF;
  font-size: 16;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  position: absolute;
  width: 90%;
  height: 90%;
}
