@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:regular);

body {
  background-color: #1E1C1F;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20;
  color: #FFFFFF;
}

.plot-div {
  background-color: inherit;
  position: absolute;
  aspect-ratio: 1.618;
  width: 80%;
  margin: 0 10%;
  max-height: calc(100% - 64px);
}

.topnav-centered {
  margin: 0 auto;
  padding-bottom: 16px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-size: 48;
  height: 64px;
}

a, a:link, a:active, a:visited {
  text-decoration: none;
  opacity: 0.6;
  padding: 0 5px;
}

a:hover {
  opacity: 1.0;
  padding: 0 5px;
}
